.hero {
    height: 250px;
    background: url("banner.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.hero h1 {
    font-size: 32px;
    color: #00ffcc;
}

.hero p {
    color: #ddd;
}
